/* TiketsHeader start ................................................................... */

.tiketsHeader {
   position: relative;
   background-color: #3c0d4b;
   max-height: 900px;
   height: 900px;
}

.tiketsHeader img {
   height: 100%;
}

.tiketsHeader-blockCenter {
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.tiketsHeader-blockCenter_nameBlock {
   flex-basis: 590px;
   height: 600px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Jomhuria';
   flex-direction: column;
}
.tiketsHeader-imgBlockLeft,
.tiketsHeader-imgBlockRight,
.tiketsHeader-imgBlockBottom {
   position: absolute;
}
.blockCenter_nameBlock-name-minname {
   font-size: 200px;
   font-family: Jomhuria;
   height: 70px;
   font-style: normal;
   color: #fdfdfd;
}
.blockCenter_nameBlock-name-bigName {
   font-size: 400px;
   font-family: Jomhuria;
   height: 268px;
   font-style: normal;
   /* font-size: 72px; */
   background: -webkit-linear-gradient(#21e4e8, #4f60bc, #5297e5, #8f0c93);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

   /* box-shadow: 0px 4px 100px 0px #f8bfdd; */
}
.blockCenter_nameBlock-name {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   margin-top: -35px;
}

.nameBlock-inptData-text {
   font-size: 70px;
   font-family: Jomhuria;
   /* height: 70px; */
   font-style: normal;
   color: #1be5e8;
   letter-spacing: 4px;
}

.blockCenter_nameBlock-inptData > input {
   background-color: inherit;
   padding: 10px;
   font-size: 45px;
   max-width: 340px;
   position: relative;
   z-index: 76543367;
   outline: none;
   border: none;
   color: #1be5e8;
   color-scheme: dark;
   /* pointer-events: none; */
}
.blockCenter_nameBlock-inptData > input::placeholder {
   color: #1be5e8; /* Задайте желаемый цвет */
}
.blockCenter_nameBlock-inptData > input::-webkit-calendar-picker-indicator {
   color: #1be5e8;
   opacity: 0.5;
   display: block;
   /* background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat; */
   width: 30px;
   height: 30px;
   margin-top: 8px;
   /* border-width: thin; */
}

.tiketsHeader-blockCenter_timeBlock {
   margin-top: -82px;
   display: flex;
   justify-content: center;
}
.tiketsHeader-blockCenter_timeBlock > div {
   padding: 22px 36px 22px 36px;
   background-size: cover;
   background-position: center;
   position: relative;
}

.tiketsHeader-imgBlockLeft {
   top: 0;
   left: 0;
   bottom: 0;
}
.tiketsHeader-imgBlockRight {
   top: 0;
   right: 0;
   bottom: 0;
}
.tiketsHeader-imgBlockBottom {
   left: 0;
   right: 0;
   bottom: 0;
}
/* TiketsHeader end ................................................................... */

/* TiketsSection start ................................................................... */

.TiketsSection {
   width: 100%;
   position: relative;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   margin-top: -5px;
}

.tiketsSection-imgBlockLeft,
.tiketsSection-imgBlockRight > img {
   height: 100%;
}

.tiketsSection-imgBlockLeft {
   position: absolute;
   left: 0;
   bottom: 0;
   display: inline-flex;
}

.tiketsSection-imgBlockRight {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
}

.TiketsSection-contaner {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   padding: 20px;
}

.TiketsSection-contaner-blockLeft {
   flex: 1 2 50%;
   padding: 10px;
}

.TiketsSection-contaner-blockRight {
   flex: 1 1 12%;
   position: relative;
}

.TiketsSection-contaner-blockRight::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   width: 1px;
   height: 100%;
   background-color: #ff56f6;
   box-shadow: 0px -9px 26px 1px #ff56f6;
}

.TiketsSection-blockLeft-blockImg {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.TiketsSection-blockRight-img {
   max-width: 280px;
}

.TiketsSection-blockLeft-blockDescript > h3 {
   font-size: 100px;
   font-family: Jomhuria;
   font-style: normal;
   color: #ffffff;
   font-weight: 100;
   letter-spacing: 6px;
}

.TiketsSection-blockDescript-textarea {
   font-size: 24px;
   font-family: Jomhuria;
   font-style: normal;
   color: #ffffff;
   font-weight: 100;
   letter-spacing: 6px;
}
.TiketsSection-blockDescript-defaulttext {
   font-size: 24px;
   font-family: Jomhuria;
   font-style: normal;
   color: #ffffff;
   font-weight: 100;
   letter-spacing: 6px;
}

/* TiketsSection end ................................................................... */
