/* General styles for the saving section detail box */
.saving_section .detail-box {
  padding: 0;
}

/* Media queries for different screen widths */
@media (max-width: 1120px) {
  .saving_section .detail-box {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .user_option {
    justify-content: center;
    margin-left: 0;
    margin-top: 10px;
  }

  .custom_nav-container {
    flex-direction: row;
  }

  .custom_nav-container .navbar-nav {
    align-items: center;
  }

  #navbarSupportedContent .navbar-nav .nav-link {
    margin: 5px 0;
  }

  .slider_section .detail-box {
    padding-left: 0;
  }

  .slider_section .detail-box h1 {
    font-size: 3rem;
  }

  .slider_section .img-box {
    padding: 0;
  }

  .saving_section .row {
    flex-direction: column-reverse;
  }

  .saving_section .detail-box {
    margin-bottom: 30px;
  }

  .client_section .box {
    margin: 15px 25px;
  }

  .client_section .carousel_btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    position: unset;
    margin: 0 2.5px;
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 768px) {
  .hero_area {
    padding: 0 25px;
  }

  .slider_section .img-box {
    margin-bottom: 45px;
  }

  .saving_section,
  .gift_section {
    padding-left: 25px;
    padding-right: 25px;
  }

  .gift_section .box {
    padding: 45px 0;
  }

  .gift_section .img-box {
    padding: 0 15px;
    margin-bottom: 45px;
  }

  .info_section .row > div {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .info_section {
    margin: 0 25px 25px;
  }
}

@media (max-width: 576px) {
  .contact_section {
    padding-left: 25px;
    padding-right: 25px;
  }

  .shop_section {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .saving_section .detail-box,
  .gift_section .detail-box {
    padding: 0 5px;
  }
}

@media (max-width: 1283px) {
  .carousel-inner img {
    max-width: 1283px;
  }
}

@media (max-width: 1230px) {
  .carousel-inner img {
    max-width: 1230px;
    object-fit: cover;
  }
  .sec_loh {
    display: flex;
  }
}

@media (max-width: 1110px) {
  .carousel-inner img {
    max-width: 1110px;
    object-fit: cover;
  }
}

@media (max-width: 1080px) {
  .carousel-inner img {
    max-width: 1080px;
    object-fit: cover;
  }
}

@media (max-width: 1040px) {
  .carousel-inner img {
    max-width: 1040px;
    object-fit: cover;
  }
}

@media (max-width: 1000px) {
  .carousel-inner img {
    max-width: 1000px;
    object-fit: cover;
  }
}

@media (max-width: 900px) {
  .carousel-inner {
    max-width: 900px;
  }

  .row {
    max-width: 60px;
    margin-bottom: 1830px;
  }

  .row .box {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row .box .img-box {
    margin-left: 35px;
  }
  .row .detail-box button {
    margin-left: 10px;
  }
}

@media (max-width: 864px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 80px;
  }

  .row .box {
    max-width: 660px;
    max-height: 1400px;
  }
  .loh_span {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 760px) {
  .row {
    max-width: 300px;
    margin-bottom: 1500px;
  }

  .row .box {
    max-width: 200px;
    max-height: 400px;
  }

  .row .box .img-box {
    max-width: 200px;
    margin-top: -40px;
  }

  .box p {
    max-width: 150px;
    max-height: 45px;
    font-size: 12px;
  }

  .box button {
    max-width: 60px;
    font-size: 12px;
    margin-left: 20px;
  }
  .sec_loh {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin-left: 120px;
  }
  .sec_loh h1 {
    display: flex;
  }
  .loh_span {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .section_buy1 {
    max-width: 760px;
  }
  .Coment .Coment_h1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .img-box .puk {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .detail-box button {
    width: 120px;
  }
}

@media (max-width: 570px) {
  .container-mt-2 {
    display: flex;
    justify-content: space-between;
    width: 570px;
  }

  .form-check {
    width: 120px;
    margin-left: -60px;
  }

  .loh_span {
    padding-bottom: 150px;
  }
}

@media (max-width: 500px) {
  .carousel-inner img {
    max-width: 500px;
  }
}

@media (max-width: 400px) {
  .carousel-inner img {
    max-width: 400px;
  }
}
