.music-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.677);
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.music-modal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.music-modal_title {
    color: white;
    font-size: 30px;
    margin-bottom: 100px;
}

.button_music_play_div {
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-container_music{
    display: flex;
    align-items: center;
}

.button_music_controls {
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}