@keyframes gradient-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.button_music {
  z-index: 1;
  width: 60px;
  height: 60px;
  border: solid white 1px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 10px 1px 10px black;
}

.note {
  transition: all 1s;
  position: relative;
  width: 20px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
  top: -10px;
  left: 0;
  transform: rotate(-5deg);
}

.note:before {
  content: "";
  display: block;
  transition: all 1s;
  position: relative;
  width: 2px;
  height: 20px;
  background-color: white;
  border-radius: 1px;
  top: 0;
  left: -2px;
  transform: rotate(5deg);
  box-shadow: 20px -2px 0 0 white;
}

.note:after {
  content: "";
  display: block;
  transition: all 1s;
  position: relative;
  width: 9.5px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  top: -5px;
  left: -10px;
  transform: rotate(5deg);
  box-shadow: 20px 0 0 0 white;
}

.button_music:hover .note {
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  background-color: transparent;
  border-left: 20px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: none;
  border-radius: 0;
  transform: rotate(0);
}

.button_music:hover .note::after,
.button_music:hover .note::before {
  left: -150px;
  top: 0;
  width: 0;
  height: 0;
  box-shadow: 0 0 0 0 #212121;
}